.article {
  height: 100vh;
  /* padding: 2em 5em; */
  /* background-color: red; */
}

#about {
  background-color: var(--color-tertiary);
}

.about-background {
  background: gray url(../assets/ethnic-floral.jpg) repeat 0 0;
  /* -webkit-animation: slide-up 20s linear infinite; */
}

.portfolio-background {
  background: gray url(../assets/hexagonal-pattern.jpg) repeat 0 0;
  /* -webkit-animation: slide-up 20s linear infinite; */
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

@-webkit-keyframes slide-up {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -400px;
  }
}
